
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- ============================================================
         CAMERA
         Required when staff capture product/category images
         directly using the CM8800plus camera.
         ============================================================ -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- ============================================================
         MEDIA / PHOTOS
         Android 13+ uses READ_MEDIA_IMAGES for selecting images
         from the device.
         ============================================================ -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- ============================================================
         Older Android versions
         Allows image access on older Android versions.
         ============================================================ -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <application
        android:label="Creator Yard"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:allowBackup="false"
        android:supportsRtl="true">

        <!-- ========================================================
             MAIN FLUTTER ACTIVITY
             ======================================================== -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Flutter normal theme -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>


        <!-- ========================================================
             DEVICE ADMIN RECEIVER
             
             This is used later when we configure the CM8800plus
             as a dedicated inventory/kiosk device.
             ======================================================== -->
        <receiver
            android:name=".KioskDeviceAdminReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">

            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_receiver" />

            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>

        </receiver>


        <!-- ========================================================
             FLUTTER ENGINE
             ======================================================== -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>


    <!-- ============================================================
         PACKAGE VISIBILITY
         Required by Flutter's ProcessTextPlugin.
         ============================================================ -->
    <queries>

        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>

    </queries>

</manifest>        
